<div class="author">
    <h1 class="author__heading">Hey there, I am Yasas</h1>
    <p class="author__body">Full-stack Web Developer</p>
</div>

<img src="/img/microsoft.jpg" alt="Yasas at Microsoft Sri Lanka" class="yasas-image" width="1100" height="900">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>

</section>