<div class="author">
    <h1 class="author__heading">Welcome to My Blog!</h1>
<p class="author__body"> I invite you to engage with my stories, 
    share your own, and let's create a vibrant community together. Happy reading!</p>
</div>

<!-- <img src="/img/microsoft.jpg" alt="Yasas at Microsoft Sri Lanka" class="course-image" width="981" height="538"> -->

<section class="articles">
    
    <h2 class="articles__heading">Latest Posts</h2>
    

    <ul class="article-ul">
        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span> <%= post.title %> </span>
                <span class="article-list__date"> <%= post.createdAt.toDateString() %> </span>
            </a>
        </li>            
        <% }); %>        
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>    

</section>