<div class="author">
    <h1 class="author__heading">Hey there, I am Yasas Lekamge</h1>
    <p class="author__body">Full-stack Web Developer</p>
</div>

<img src="/img/Course_Image.png" alt="Yasas at Microsoft Sri Lanka" class="course-image" width="981" height="538">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>

</section>